@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik';
  src: url('./assets/Rubik-DoodleShadow-Regular.ttf') format('truetype');
}


:root {
  font-family: 'Rubik', sans-serif;
  color: white;
  background-color: black;
}

.git {
  background-image: url("./assets/git2.gif");
  background-repeat: repeat-y;
  background-position: center;


  
}

.redondo{
  display: block;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border:ridge white 2px
}